<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= flight.airline %> flight <%= flight.flightNo %> from <%= flight.airport %> .</h1>

	<section id="show-page">
		<div>Airline: </div>
		<div>
			<%= flight.airline %>
		</div>
		<div>Airport: </div>
		<div>
			<%= flight.airport %>
		</div>
		<div>Flight Number: </div>
		<div>
			<%= flight.flightNo %>
		</div>
		<div>Departs: </div>
		<div>
			<%= flight.departs %></div>
        <div>Destinations: </div>
        
        <% if (flight.destinations.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Airport</th>
                  <th>Arrival</th>
                </tr>
              </thead>
              <tbody>
                <% flight.destinations.forEach(function(f) { %>
                    <tr>
                        <td>
                         <%= f.airport %>
                        </td>
                        <td>
                         <%= f.arrival %>
                        </td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
            <% } else { %>
              <h5>No Destinations Yet</h5>
            <% } %>

	</section>

      <br><br>
	<h2>Add Destinations</h2>
	<form id="add-destinations-form" method="POST" action="/flights/<%= flight._id %>/destinations">
		<label>Destinations:</label>
		<select name="airport">
			<option value="AUS">AUS</option>
			<option value="DFW">DFW</option>
			<option value="DEN">DEN</option>
			<option value="LAX">LAX</option>
			<option value="SAN" selected>SAN</option>
		</select>
        <label>Date:
            <input type="datetime-local" name="arrival" value="2022-11-29T19:30">
        </label>
		<input type="submit" value="Add Destination">
	</form>
    <br></br>
    <h2>Tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Seat:</th>
                <th>Price:</th>
            </tr>
        </thead>
        <tbody>
            <% ticket.forEach(function(t){ %>
                <tr>
                    <td><%= t.seat %> </td>
                    <td><%= t.price %> </td>
                </tr>
            <% }) %> 

        </tbody>
    </table>
    <br></br>
    <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
</body>
</html>